.wrapper {
  padding: 30px 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--textLight);
  border-bottom: 1px solid;
  background-color: var(--themeColor);
}

.title {
  text-align: center;
  font-size: 22px;
  margin-bottom: 9px;
}

.wrapper p {
  font-size: 14px;
  letter-spacing: 1px;
}

@media (min-width: 540px) {
  .wrapper {
    padding: 40px 0px;
  }

  .title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 14px;
  }

  .wrapper p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.5;
  }
}

@media (min-width: 768px) {
  .wrapper {
    padding: 50px 0px;
  }

  .title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 16px;
  }

  .wrapper p {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5;
    /* line-height: 30px; */
  }
}
