.wrapper {
  padding: 20px 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--primaryText);
  background-color: var(--backgroundColor);
}

.title {
  text-align: center;
  margin-bottom: 9px;
  font-size: 22px;
}

.wrapper p {
  font-size: 14px;
  line-height: 22px;
}

.unorderList li {
  font-size: 16px;
  font-weight: 600;
  margin: 9px 0px;
}

@media (min-width: 540px) {
  .wrapper {
    padding: 30px 0px;
  }

  .title {
    text-align: center;
    margin-bottom: 14px;
    font-size: 28px;
  }

  .wrapper p {
    font-size: 16px;
    line-height: 26px;
  }

  .unorderList li {
    font-size: 18px;
    font-weight: 600;
    margin: 12px 0px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    padding: 40px 0px;
  }

  .title {
    text-align: center;
    margin-bottom: 16px;
    font-size: 36px;
  }

  .wrapper p {
    font-size: 18px;
    line-height: 30px;
  }

  .unorderList li {
    font-size: 20px;
    font-weight: 600;
    margin: 12px 0px;
  }
}
