.wrapper {
  padding: 40px 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--primaryText);
}

.wrapper p {
  font-size: 14px;
  line-height: 1.5;
}

.content1,
.content2,
.content3 {
  padding: 20px;
  border: 1px solid var(--textLight);
}

.title {
  font-size: 16px;
  text-decoration: underline;
  margin-bottom: 9px;
}

.List {
  padding-left: 20px;
}

.List li {
  font-size: 14px;
  line-height: 1.5;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content1 {
  flex: 1;
}
.content2 {
  flex: 1;
}
.content3 {
  flex: 1;
}

/*  */

@media (min-width: 768px) {
  .wrapper {
    padding: 40px 0px;
  }

  .content1 {
    flex: 1;
  }
  .content2 {
    flex: 2;
  }
  .content3 {
    flex: 1;
  }

  .contentWrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
