.navList {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 0.5em; */
  list-style-type: none;
  /* padding-top: 2rem; */
  text-align: center;
}

.mobileHeader {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: #fff;
  border-bottom: 1px solid var(--themeColor1);
}

.show {
  display: flex;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  opacity: 1;
  visibility: visible;
  transition: opacity 1.5s ease-in-out;
  left: 0;
  top: 0;
  bottom: 0;
  right: 240px;
}

.closeIcon svg {
  font-size: 20px;
}

@media (min-width: 768px) {
  .navList {
    flex-direction: row;
    align-items: center;
    padding-top: 0;
  }

  .show {
    display: none;
  }

  .overlay {
    visibility: hidden;
    opacity: 0;
  }
}
