.wrapper {
  padding: 30px 0px;
  background-color: var(--backgroundColor);
  color: var(--primaryText);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.aboutImg img {
  width: 100%;
  height: auto;
}

.aboutContent {
  padding-bottom: 7px;
}

.aboutContent h1 {
  text-align: center;
  font-size: 22px;
  font-family: sans-serif;
}

.aboutContent h4 {
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
  color: var(--themeColor2);
  margin: 5px 0px;
}

.aboutContent p {
  margin: 9px 0px;
  font-size: 14px;
  letter-spacing: 1px;
}

@media (min-width: 540px) {
  .wrapper {
    padding: 40px 0px;
  }

  .aboutContent {
    padding-bottom: 10px;
  }

  .aboutContent h1 {
    font-size: 28px;
    font-family: sans-serif;
  }

  .aboutContent h4 {
    font-size: 20px;
    font-family: sans-serif;
    color: var(--themeColor2);
    margin: 7px 0px;
  }

  .aboutContent p {
    margin: 16px 0px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.5;
  }
}

@media (min-width: 768px) {
  .wrapper {
    padding: 60px 0px;
  }

  .aboutContent {
    padding-bottom: 20px;
  }

  .aboutContent h1 {
    font-size: 36px;
    font-family: sans-serif;
  }

  .aboutContent h4 {
    font-size: 24px;
    font-family: sans-serif;
    color: var(--themeColor2);
    margin: 12px 0px;
  }

  .aboutContent p {
    margin: 20px 0px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5;
  }
}
